@use "sass:map"; 

// centrage horizontal + vertical

@mixin center-content{
    display: flex;
    align-items: center;
    justify-content: center;
}

// typo titres

@mixin medium-title {
    font-weight: 700;
    font-size: 25px;
}

// style button
        
@mixin button($width) {
    padding: 15px 0;
    width: $width;
    font-size: 16px;
    font-weight: 500;
    border-radius: 30px;
    color: white;
    border: none;
    background: linear-gradient($color-secondary, $color-primary);
    box-shadow: $button-shadow;
}

// points de suspension

@mixin ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


// BREAKPOINTS

// breakpoint tablet

@mixin tablet {
    @media screen and (min-width: map.get($breakpoints, tablet)) {
        @content;
    }
} 

// breakpoint tablet-landscape

@mixin tablet-landscape {
    @media screen and (min-width: map.get($breakpoints, tablet-landscape)) {
        @content;
    }
}

// breakpoint desktop

@mixin desktop {
    @media screen and (min-width: map.get($breakpoints, desktop)) {
        @content;
    }
}

// breakpont wide-screen

@mixin wide-screen {
    @media screen and (min-width: map.get($breakpoints, wide-screen)) {
        @content;
    }
}

