// colors

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$ultralight-grey: rgb(243,243,243);
$light-grey:rgb(232,232,232);
$mid-grey: rgb(128,128,128);
$dark-grey:rgb(60,60,60);


// box-shadow

$button-shadow: rgba(0, 0, 0, 0.14) 0px 3px 10px, rgba(0, 0, 0, 0.20) 0px 3px 10px;
$step-shadow: 0px 5px 10px 0px rgba(0,0,0,0.15);
$card-shadow: 0px 5px 10px 0px rgba(0,0,0,0.1);


// border-radius

$card-radius: 15px;
$menu-radius: 40px;


// hauteur logo

$logo-height: 62px;
$logo-height-grow: 20px;


// margins

$card-text-margin: (
    "top": 0,
    "right": 20px,
    "bottom": 4px,
    "left": 15px
);

// retrait + espace choix

$choices-overflow: 5px;
$choices-space: 15px;


// ajout de padding fontionnement + restaurants wide-screen

$home-section-padding-grow: 15px;
$restaurants-padding-grow: 5px;


// ajout de padding menu tablet + desktop

$menu-padding-grow: 10px;


// breakpoints

$breakpoints: (
    "tablet": 768px,
    "tablet-landscape": 992px,
    "desktop": 1080px,
    "wide-screen": 1280px
);

// espaces steps

$steps-space: 35px;

// espace restaurants

$home-section-space: 20px;

// heart width

$heart-width: 55px;