
// Configuration and helpers
@import
    'abstracts/variables',
    'abstracts/functions',
    'abstracts/mixins';

// Base stuff
@import
    'base/reset',
    'base/base', 
    'base/typography';
    
// Components

// Layout-related sections
@import
    'layout/header',
    'layout/footer';

// Page-specific styles
@import
    'pages/home',
    'pages/restaurants';



