.header {
    &__logo {
        @include center-content;
        height: $logo-height;
        padding-top: 10px;
        font-size: 30px;
        position: fixed;
        width: 100%;
        top: 0;
        background-color: white;
        z-index: 20;
        box-shadow: 0px -1px 5px 0px $dark-grey;

        @include hover {
            color: rgba($color: #000000, $alpha: 0.8)
        };
    
        @include desktop {
            height: calc($logo-height + $logo-height-grow);
            font-size: 45px;
            padding-top: 5px;
        }
    }
}