
// style button
        
@mixin button($width) {
    padding: 15px 0;
    width: $width;
    font-size: 16px;
    font-weight: 500;
    border-radius: 30px;
    color: white;
    border: none;
    background: linear-gradient($color-secondary, $color-primary);
    box-shadow: $button-shadow;

    @include hover-light-text(0.45) {
        opacity: 0.93;
    };
}