// loading spinner

.lds-container {
    width: 100%;
    height: 100vh;
    z-index: 30;
    background-color: rgba($color: white, $alpha: 0.75);
    position: fixed;
    top: 0;
    left: 0;
    @include center-content;
    animation-name: lds-fade;
    animation-duration: 700ms;
    animation-delay: 1400ms;
    animation-fill-mode: forwards;

    @keyframes lds-fade {
        from {
            visibility: visible;
            opacity: 1;
        }
        to {
            visibility: hidden;
            opacity: 0;
        }
    }

    & ~ .home,
    & ~ header .home {
        animation-duration: 2100ms;
        animation-name: blur-to-sharp;
    }
    
    @keyframes blur-to-sharp {
        from {
            filter: blur(10px);
        }
        66% {
            filter: blur(5px);
        }
        to {
            filter: blur(0px);
        }
    }
}


@include loading-spinner(1.5);

@include tablet {

    @include loading-spinner(3);
}

@include desktop {
    @include loading-spinner(6);
}


