// loading spinner

.lds-container {
    width: 100%;
    height: 100vh;
    z-index: 30;
    background-color: $dark-grey;
    position: absolute;
    top: 0;
    left: 0;
    @include center-content;
    // opacity: 1;
    transition-property: visibility, opacity;
    transition-duration: 500ms;
    transition-delay: 2500ms;
    visibility: hidden;
    opacity: 0;
}


.lds-grid {
    display: inline-block;
    position: relative;
    width: 320px;
    height: 320px;    
}

.lds-grid div {
    position: absolute;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: $color-primary;
    animation: lds-grid 1.2s linear infinite;
}

.lds-grid div:nth-child(1) {
    top: 32px;
    left: 32px;
    animation-delay: 0s;
}

.lds-grid div:nth-child(2) {
    top: 32px;
    left: 128px;
    animation-delay: -0.4s;
}

.lds-grid div:nth-child(3) {
    top: 32px;
    left: 224px;
    animation-delay: -0.8s;
}

.lds-grid div:nth-child(4) {
    top: 128px;
    left: 32px;
    animation-delay: -0.4s;
}

.lds-grid div:nth-child(5) {
    top: 128px;
    left: 128px;
    animation-delay: -0.8s;
}

.lds-grid div:nth-child(6) {
    top: 128px;
    left: 224px;
    animation-delay: -1.2s;
}

.lds-grid div:nth-child(7) {
    top: 224px;
    left: 32px;
    animation-delay: -0.8s;
}

.lds-grid div:nth-child(8) {
    top: 224px;
    left: 128px;
    animation-delay: -1.2s;
}

.lds-grid div:nth-child(9) {
    top: 224px;
    left: 224px;
    animation-delay: -1.6s;
}

@keyframes lds-grid {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}
