@use "sass:map"; 


// header

.header {

    &__location {
        @include center-content;
        height: 50px;
        background-color: $light-grey;
        font-weight: 500;
        margin-top: $logo-height;

        @include desktop {
            margin-top: calc($logo-height + $logo-height-grow);
        }
    }

    &__explore {
        @include center-content;
        flex-direction: column;
        padding: 20px 5% 55px;
        background-color: $ultralight-grey;
        
        & > * {
            text-align: center;
        }
        
        & h2 {
            padding: 15px 20px 10px;
        }
        
        & h3 {
            font-weight: 300;
            font-size: 18px;
            padding-bottom: 30px;
        }
        
        & .button {
            @include button(220px);

            @include tablet {
                @include button(320px);
                padding: 22px;
                border-radius: 50px;
                font-size: 20px;
                letter-spacing: 1px;
            }
        }

    }
}


// main

section {
    padding: 50px $home-section-space;
        
    @include wide-screen {
        padding:  50px calc($home-section-space + $home-section-padding-grow);
    }
}

section h4 {
    padding-bottom: 25px;
}

// fonctionnement

.fonctionnement {

    @include desktop {
        padding-bottom: 80px;
    }

    & ul {
        padding-left: 15px;

        @include desktop {
            display: flex;
            justify-content: space-between;
            padding-right: 15px;
        }
    }
     
    &__step {
        background-color: $ultralight-grey;
        width: 100%;
        padding: 25px;
        margin-bottom: 20px;
        border-radius: 20px;
        font-weight: 700;
        box-shadow: $step-shadow;
        display: flex;
        align-items: center;
        position: relative;

        @include desktop {
            width: calc(33% - 2 * $steps-space / 3);
        }
    }

    &__number {
        position: absolute;
        left: -13px;
        color: white;
        font-weight: 400;
        font-size: 14px;
        background-color: $color-primary;
        height: 26px;
        width: 26px;
        border-radius: 50%;
        @include center-content;

        @include tablet {
            height: 34px;
            width: 34px;
            left: -17px;
            font-size: 20px
        }
    }

    & i {
        @include center-content;
        width: 35px;
        margin-right: 15px; 
        color: $mid-grey;
        font-size: 20px;

        @include tablet {
            font-size: 25px;
        }
    }

    &__action {
        font-size: 17px;

        @include tablet {
            font-size: 18px;
        }
    }
}

// restaurants

.restaurants {
    background-color: $ultralight-grey;

    @include tablet {
        padding-bottom: 80px;
    }

    & h4 {
        margin-top: 10px;
    }

    & ul {                
        @include tablet {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
}


.card {
    border-radius: $card-radius;
    box-shadow: $card-shadow;
    margin-bottom: $home-section-space;
    position: relative;

    @include tablet {
        width: calc((100% - $home-section-space) / 2);
        margin-bottom: $home-section-space;
    }

    @include desktop {
        width: calc((100% - 3 * $home-section-space) / 4);
    }
    
    @include wide-screen {
        width: calc((100% - 3 * ($home-section-space + $restaurants-padding-grow))/ 4);
    }

    & img {
        border-top-left-radius: $card-radius;
        border-top-right-radius: $card-radius;
        height: 175px;
        width: 100%;
        // object-fit: cover;
        object-position: 0 65%;
    }

    &__text {
        background-color: white;
        border-bottom-left-radius: $card-radius;
        border-bottom-right-radius: $card-radius;
        height: 75px;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;

        & > *:not(.fa-heart) {
            width: calc(100% - $heart-width - map.get($card-text-margin, "left") - map.get($card-text-margin, "right"));
            height: calc(50% - map.get($card-text-margin, "bottom"));
            display: flex;
            flex-direction: column;
            margin: map.get($card-text-margin,"top") map.get($card-text-margin,"right") map.get($card-text-margin,"bottom") map.get($card-text-margin,"left");
        }

        & h5 {
            font-size: 17px;
            font-weight: 700;
            justify-content: end;
            white-space: nowrap;

            @include tablet {
                font-size: 18px;
            }
        }

        & div {
            font-size: 16px;
            justify-content: start;
        }

        & .fa-heart {
            width: $heart-width;
            font-size: 28px;
            color: $mid-grey;
            justify-content: center;
        }
    }

    &__new {
        position: absolute;
        top: 13px;
        right: 13px;
        color: darken($color-tertiary, 45%);
        background-color: $color-tertiary;
        height: 28px;
        width: 80px;
        @include center-content;
        font-size: 14px;
        font-weight: 500;
        border-radius: 2px;
    }
}