
// header

.header {

    & .fa-arrow-left {
        position: absolute;
        top: 22px;
        left: 20px;
        font-size: 22px;
    }
}


// main

main {

    & img {
        width: 100%;
        height: 250px;
        object-position: 0 43%;
        
        @include tablet {
            height: 350px;
            object-position: 0 55%;
        }
    }


}

.wide-screen-background {
    @include wide-screen {
        background-color: darken(cadetblue, $amount: 15%) ;
    }
}

.menu {
    border-top-left-radius: $menu-radius;
    border-top-right-radius: $menu-radius;
    position: relative;
    top: - $menu-radius;
    z-index: 10;
    background-color: $ultralight-grey;
    margin-bottom: - $menu-radius;
    padding: 30px 20px 70px;

    & h1 {
        font-size: 28px;
        font-weight: 500;
        display: flex;
        justify-content: space-between;
        align-items: baseline;

        & .fa-heart {
            font-size: 25px;
            color: $dark-grey;
            margin-right: 15px
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: column;

        @include tablet-landscape {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }

    &__step {

        & h2 {
            margin: 35px 0 5px;
        }
        
        @include tablet-landscape {
            width: calc((100% - ($choices-space + $choices-overflow + $choices-overflow)) / 2);
        }
        @include wide-screen {
            width: calc((100% - 2 * ($choices-space + $choices-overflow + $choices-overflow)) / 3);
        }
    }

    &__decoration {
        height: 3px;
        width: 42px;
        background-color: $color-tertiary;
        margin-bottom: 15px;
    }

    &__choices {
        margin: 0 -$choices-overflow;
    }

    &__choice {
        background-color: white;
        border-radius: $card-radius;
        box-shadow: $card-shadow;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 70px;
        margin-bottom: 15px;
        padding: 12px 12px 2px;

        & > * {
            @include ellipsis;
        }
        
        & h3 {
            font-weight: 700;
            font-size: 18px;
            height: 50%;
            width: calc(100% - $price-width);
        }

        & p {
            font-size: 15px;
            height: 50%;
            width: calc(100% - $price-width);
        }

        & .price {
            font-weight: 700;
            font-size: 15px;
            width: $price-width;
            height: 100%;
            display: flex;
            flex-direction: column-reverse;
            text-align: center;
            margin-bottom: 10px;
        }
    }

    &__button-wrapper {
        text-align: center
    }

    & .button {
        @include button(190px);
        margin-top: 35px;

        @include tablet {
            @include button(350px);
            font-size: 23px;
            padding: 26px;
            border-radius: 50px;
            margin: 70px 0 30px;
            letter-spacing: 1px;
        }
    }
}




