
// header

.header {

    & .fa-arrow-left {
        position: absolute;
        top: 22px;
        left: 20px;
        font-size: 22px;

        @include desktop {
            top: 30px;
            left: 30px;
        }
    }
}


// main

main {

    & img {
        width: 100%;
        height: 250px;
        object-position: 0 43%;
        
        @include tablet {
            height: 350px;
            object-position: 0 58%;
        }
    }


}

.main-restaurants {
    margin-top: $logo-height;

    @include desktop {
        margin-top: calc($logo-height + $logo-height-grow);
    }

    @include wide-screen {
        background-color: darken(cadetblue, $amount: 15%) ;
    }
}

.menu {
    border-top-left-radius: $menu-radius;
    border-top-right-radius: $menu-radius;
    position: relative;
    top: - $menu-radius;
    z-index: 10;
    background-color: $ultralight-grey;
    margin-bottom: - $menu-radius;
    padding: 30px 20px 70px;

    @include tablet {
        padding: 30px 30px 70px;
        
    }

    & h1 {
        font-size: 28px;
        font-weight: 500;
        display: flex;
        justify-content: space-between;
        align-items: baseline;

        @include tablet {
            font-size: 30px;
        }

        @include desktop {
            font-size: 34px;
        }

        & .fa-heart {
            font-size: 25px;
            color: $dark-grey;
            margin-right: 15px;
            
            @include hover-heart;

        }
    }

    &__wrapper {
        display: flex;
        flex-direction: column;

        @include tablet-landscape {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }

    &__step {

        & h2 {
            margin: 35px 0 5px;
        }
        
        @include tablet-landscape {
            width: calc((100% - ($menu-padding-grow + $choices-space + $choices-overflow + $choices-overflow)) / 2);
        }
        @include wide-screen {
            width: calc((100% - 2 * ($menu-padding-grow + $choices-space + $choices-overflow + $choices-overflow)) / 3);
        }
    }

    &__decoration {
        height: 3px;
        width: 42px;
        background-color: $color-tertiary;
        margin-bottom: 15px;
    }

    &__choices {
        margin-left: -$choices-overflow;
        margin-right: -$choices-overflow;
    }

    &__choice {
        background-color: white;
        border-radius: $card-radius;
        box-shadow: $card-shadow;
        display: flex;
        justify-content: space-between;
        height: 70px;
        margin-bottom: $choices-space;

        @include hover {
            color: rgba($color: #000000, $alpha: 0.8);

            & .fa-circle-check {
                display: flex;
            }
        }

        & .text-wrapper {
            flex-grow: 1;
            overflow: hidden;
        }
        
        & h3 {
            font-weight: 700;
            font-size: 18px;
            height: 50%;            
            padding: 12px 12px 0;
            @include ellipsis;
        }
        
        & p {
            font-size: 15px;
            height: 50%;
            padding: 4px 12px 0;
            @include ellipsis;
        }
        
        & .price {
            font-weight: 700;
            font-size: 15px;
            width: 50px;
            height: 100%;
            display: flex;
            flex-direction: row-reverse;
            align-items: flex-end;
            justify-content: flex-end;
            padding-bottom: 12px;
            flex-shrink: 0;
        }

        & .fa-circle-check {
            background-color: $color-tertiary;
            color: white;
            border-top-right-radius: $card-radius;
            border-bottom-right-radius: $card-radius;
            align-self: center;
            height: 70px;
            @include center-content;
            width: 65px;
            font-size: 22px;
            display: none;
            flex-shrink: 0;
        }
    }

    &__button-wrapper {
        text-align: center
    }

    & .button {
        @include button(190px);
        margin-top: 35px;

        @include tablet {
            @include button(350px);
            font-size: 23px;
            padding: 26px;
            border-radius: 50px;
            margin: 70px 0 30px;
            letter-spacing: 1px;
        }
    }
}




